.fp-tableCell {
  vertical-align: top;
}

.completeviewport {
  height: 100vh;
  width: 100vw;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: grid;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.max-width {
  max-width: 768px;
}

.margin-box {
  margin: 32px 42px 32px 32px;
}

.m-bottom-none {
  margin-bottom: 0;
}

.m-none {
  margin: none;
}

.m-top-none {
  margin-top: 0;
}

.m-right-xs {
  margin-right: 16px;
}

.m-right-md {
  margin-right: 24px;
}

.m-right-lg {
  margin-right: 32px;
}

.m-right-xl {
  margin-right: 40px;
}

.m-left-xs {
  margin-left: 16px;
}

.m-left-md {
  margin-left: 24px;
}

.m-left-lg {
  margin-left: 32px;
}

.m-left-txl {
  margin-left: 40px;
}

.m-bottom-xs {
  margin-bottom: 16px;
}

.m-bottom-md {
  margin-bottom: 24px;
}

.m-bottom-lg {
  margin-bottom: 32px;
}

.m-bottom-xl {
  margin-bottom: 40px;
}

.m-top-xs {
  margin-top: 16px;
}

.m-top-md {
  margin-top: 24px;
}

.m-top-lg {
  margin-top: 32px;
}

.m-top-xl {
  margin-top: 40px;
}

.p-right-xs {
  padding-right: 16px;
}

.p-right-md {
  padding-right: 24px;
}

.p-right-lg {
  padding-right: 32px;
}

.p-right-xl {
  padding-right: 40px;
}

.p-left-xs {
  padding-left: 16px;
}

.p-left-md {
  padding-left: 24px;
}

.p-left-lg {
  padding-left: 32px;
}

.p-left-xl {
  padding-left: 40px;
}

.p-bottom-xs {
  padding-bottom: 16px;
}

.p-bottom-md {
  padding-bottom: 24px;
}

.p-bottom-lg {
  padding-bottom: 32px;
}

.p-bottom-xl {
  padding-bottom: 40px;
}

.p-top-xs {
  padding-top: 16px;
}

.p-top-md {
  padding-top: 24px;
}

.p-top-lg {
  padding-top: 32px;
}

.p-top-xl {
  padding-top: 40px;
}

.container-tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #E7C774;
}

.container-introduction {
  height: 35vh;
}

.margin-map {
  margin: 32px 16px 0px 0px;
}

.container-map {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container-img-map {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.pic-sec {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info-img {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.hr-info {
  width: 90%;
}

.text-left-section {
  border-radius: 25px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #E7C774;
  padding: 25px;
  -webkit-transform: translate3d(-200%, 0, 0);
  transform: translate3d(-200%, 0, 0);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

.animation-info-left {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.text-left-section p {
  margin: 0;
}

.text-right-section {
  border-radius: 25px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #E7C774;
  padding: 25px;
  -webkit-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

.animation-info-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.header {
  background-color: #261D1A;
  height: 35px;
  padding-left: 12px;
  padding-top: 12px;
}

.header2 {
  background-color: #E7C774;
  height: 35px;
  padding-left: 12px;
  padding-top: 12px;
}

.blacklogo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #261d1a;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.txt-sm {
  font-size: 14px;
}

.txt-md {
  font-size: 16px;
}

.txt-lg {
  font-size: 20px;
  line-height: 1.6;
}

.txt-xl {
  font-size: 32px;
  line-height: 1.2;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.txt-dark {
  color: #261d1a;
}

.txt-light {
  color: #fff;
}

.txt-primary {
  color: #E7C774;
}

.uppercase {
  text-transform: uppercase;
}

.arrow {
  width: 50px;
  margin: 20px auto 40px auto;
  display: block;
  opacity: 0.5;
}

@media all and (min-width: 768px) {
  .margin-box {
    margin: 32px 45px 0px 45px;
  }

  .center {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .padding-media {
    padding-right: 20px;
    padding-left: 20px;
  }

  .margin-map {
    margin: 42px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.68;
  }

  .txt-sm {
    font-size: 16px;
    line-height: 1.68;
  }

  .txt-md {
    font-size: 18px;
    line-height: 1.68;
  }

  .txt-lg {
    font-size: 26px;
    line-height: 1.4;
  }
}

@media all and (min-width: 900px) {
  .container-map {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .container-img-map {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }

  .txt-map {
    width: 30%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .pic-sec {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .info-img {
    padding-right: 50px;
    max-height: 80vh;
    max-width: 60%;
  }

  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }

  .completepercent {
    height: 100%;
  }

  .hr-info {
    display: none;
  }

  .b-r-solid {
    border-right: 1px solid #E7C774;
    height: 80%;
  }

  .b-l-solid {
    border-left: 1px solid #E7C774;
    padding-left: 15px;
    height: 80%;
  }

  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
    line-height: 1.68;
  }

  .txt-xl {
    font-size: 54px;
    font-weight: 300;
  }
}

/*# sourceMappingURL=main.css.map */
