// holi
$foo: red;
$color-primary: #3d70b2;
$color-secondary: #5596e6;
$color-tertiary: #41d6c3;

$color-light: #ffffff;
$color-light-midtone: #dfe3e6;
$color-midtone: #8c9ba5;
$color-dark-midtone: #5a6872;
$color-dark: black;

$color-error: #e71d32;
$color-success: #5aa700;
$color-warning: #efc100;
$color-info: #5aaafa;
