

//Tipografia

$font-family: 'Noto Sans', sans-serif;;
$font-size: 14px;
$line-height: 1.5;
$font-color-base: #261d1a;
$font-color-light: #fff;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;

//Colores

$color-primary: #E7C774;
$color-dark: #261D1A;
