.header{
  background-color: $color-dark;
  height: 35px;
  padding-left: 12px;
  padding-top: 12px;
}

.header2{
  background-color: $color-primary;
  height: 35px;
  padding-left: 12px;
  padding-top: 12px;
}

.blacklogo{
  filter: grayscale(100%);
}
