
.container-tittle {
  display: flex;
  height: 65vh;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
}

.container-introduction {
  height: 35vh;
}

.padding-media {
  @media all and (min-width:768px) {
      padding-right: 20px;
      padding-left: 20px;
    }
}
