.info-img {
  max-width: 90%;
  @media all and (min-width:900px) {
        max-height: 60vh;
    }
}

.hr-info {
  width: 90%;
}

@media all and (min-width:900px) {

  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  .completepercent {
    height: 100%;
  }
  .hr-info {
    display: none;
  }

  .b-r-solid {
    border-right: 1px solid $color-primary;
    height: 80%;
  }
  .b-l-solid {
    border-left: 1px solid $color-primary;
    padding-left: 15px;
    height: 80%;
  }

}
