.pic-sec {
  flex-direction: column;
  @media all and (min-width:900px) {
    flex-direction: row;
  }
}

.info-img {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  @media all and (min-width:900px) {
    padding-right: 50px;
    max-height: 80vh;
    max-width: 60%;
  }
}

.hr-info {
  width: 90%;
}

@media all and (min-width:900px) {

  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  .completepercent {
    height: 100%;
  }
  .hr-info {
    display: none;
  }

  .b-r-solid {
    border-right: 1px solid $color-primary;
    height: 80%;
  }
  .b-l-solid {
    border-left: 1px solid $color-primary;
    padding-left: 15px;
    height: 80%;
  }
}

@media all and (min-width:900px) {
  .transition-info-left {
    transform: translate3d(-200%,0,0);
    transition: transform 600ms;
  }

  .animation-info-left {
    transform: translate3d(0,0,0);
  }
  .transition-info-right {
    transform: translate3d(200%,0,0);
    transition: transform 600ms;
  }

  .animation-info-right {
    transform: translate3d(0,0,0);
  }

  .text-left-section p {
    margin: 0;
  }

  .text-right-section {
    border-radius: 25px;
    align-self: flex-start;
    background-color: $color-primary;
    padding: 25px;
  }

  .text-left-section {
    border-radius: 25px;
    align-self: flex-start;
    background-color: $color-primary;
    padding: 25px;
  }
}
