

.margin-map {
  margin: 32px 16px 0px 0px;

  @media all and (min-width:768px) {
    margin: 42px;
  }
}

.container-map {
  flex-direction: column;
  @media all and (min-width:900px) {
    flex-direction: row;
  }
}

.container-img-map {
  flex-grow: 1;
  @media all and (min-width:900px) {
    width: 50%;
    flex-grow: 0;
    height: 65vh;
  }
}

.txt-map {
  @media all and (min-width:900px) {
    width: 30%;
    order: 1;
  }
}

.container-img-map svg {
  height: 100%;
}
